<div class="container">
    <div class="row">
        <div class="col col-md-4 offset-md-4 form-group">
            <label for="">Data</label>
            <input type="date" name="dataref" id="dataref" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col col-md-4 offset-md-4 form-group">
            <label for="">Unidade</label>
            <select name="unidade" id="unidade" class="form-control">
                <option value="0" selected disabled>Selecione</option>
            </select>
        </div>
    </div>
</div>


