{% extends "base.html" %}
{% block link %}
<link rel="stylesheet" href="/assets/css/home_users.css">
{% endblock %}

{% block body %}


{% if hide_nav is not defined %}
{{ include('nav.html') }}
{% endif %}
<!-- The Modal -->

  <P id="nome_user">{{username}}</P>
<div class="container">
    <img id="img_fundo" src="/assets/img/plano_fundo_todos_contra_dengue.png" alt="" >
    <div class="row justify-content-around">
        <div class="col-6 text-center">
            <label for="" class="d-block">FORMULÁRIO<br>AÇÕES DE BLOQUEIO</label>
            <a class="d-block text-center" href="{{ url_for('registro_visita') }}">

                <img id="img_link_agente_1" src="/assets/img/link_01-gestor.png" class="rounded-circle page-link" alt="Cinque Terre">
            </a>
        </div>
        <div class="col-6 text-center">
            <label for="" class="d-block">FORMULÁRIO<br>AÇÕES DE ROTINA</label>
                <a class="d-block text-center" href="{{ url_for('registro_rotina') }}">

                    <img id="img_link_agente_1" src="/assets/img/link_02-fake-agente.png" class="rounded-circle page-link" alt="">
                    
                </a>

            </a>
        </div>
    </div>
</div>


<!-- {{ include('form_visita.html') }} -->


{% endblock %}

{% block script %}
<script src="/assets/js/home_users.js?r={{rand}}"></script>
{% endblock %}