{% extends "base.html" %}
{% block link %}
<link rel="stylesheet" href="/assets/css/scaden.css?r={{rand}}">
{% endblock %}

{% block body %}
{% if hide_nav is not defined %}
{{ include('nav.html') }}
{% endif %}
<P id="nome_user">{{username}}</P>
<h1 class="text-center">Scaden</h1>

<div class="container-fluid mt-4">
<div id="div_scaden" class="table-responsive">

</div>
</div>
{% endblock %}

{% block script %}
<script src="/assets/js/scaden.js?r={{rand}}" type="module"></script>
{% endblock %}
