<table id="tb_boletim_gestor"
                class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Unidade</th>
                        <th>cnes</th>
                        <th>Crs</th>
                        <th>Uvis</th>
                        <th>Data monitoramento</th>
                        <th>Data criação</th>
                        <th>Total de casos atendidos com suspeita de dengue</th>
                        <th>Total de casos atendidos confirmados para dengue</th>
                        <th>Total de testes rápido de dengue realizados</th>
                        <th>Total de testes rápido de dengue positivos</th>
                        <th>Estoque diario dos testes rápidos de dengue</th>
                        <th>Total de atendimentos realizados pela unidade</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody id="body_table_tb_boletim_gestor">
                    
                </tbody>
            </table>