<table class="table table-striped table-bordered d-none table_data" id="tb_rotinas">
    <thead>
      <tr>
        <th>unidade</th>
        <th>crs</th>
        <th>uvis</th>
        <th>equipe</th>
        <th>data acao</th>
        <th>Data criação</th>
        <th>quantas casas visitadas</th>
        <th>quantas casas com criadouros</th>
        <th>quantas pessoas orientadas</th>
        <th>Editar</th>

        
      </tr>
    </thead>
    <tbody id="body_table_acoes_rotina">
      
    </tbody>
  </table>